<style type="text/css">
.item-store span{ float: right;}
.btn{ text-align: center; }
.btn a{ color: #ef473a!important; }

.controll{ position:absolute; top: 0; right: 1em;}
.controll span{ border:0px;}

.checkbox input, .checkbox-icon{ width: 24px; height: 24px;}
#upd_store_list .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
  background-color: #ef473a;
  border-color: #ef473a;
}

</style>
<ion-view view-title="新增">
  <ion-content>

    <div class="list">
      <div class="item item-input">
        <span class="input-label">拓展</span>
        <div class="controll">
          <button class="button button-clear button-positive icon ion-ios-minus-empty" ng-click="decreaseAddStore();"></button>
          <span class="button">{{addStore}}</span>
          <button class="button button-clear button-positive icon ion-ios-plus-empty" ng-click="increaseAddStore();"></button>
        </div>
      </div>
      <div class="item item-input">
        <span class="input-label">维护</span>
        <div class="controll">
          <button class="button button-clear button-positive icon ion-ios-minus-empty" ng-click="increaseUpdStore();"></button>
          <span class="button">{{updStore.length}}</span>
          <a class="button button-clear button-positive icon ion-ios-plus-empty" href="#/tab/task/ssearch"></a>
        </div>
      </div>
    </div>

    <ul class="list" id="upd_store_list">
      <li class="item item-checkbox" ng-repeat="store in updStore">
        <label class="checkbox">
          <input type="checkbox" ng-model="store.delete" >  
        </label>
        <div class="item-content">
          <h2>{{store.leaguer_name}}<span style="margin-left:2em;">{{store.boss_phone}}</span></h2>
          <p>{{store.address}}</p>
        </div>
      </li>
    </ul>

    <div class="padding">
      <button class="button button-block button-balanced" ng-click="save()">
        保存
      </button>     
    </div> 
  </ion-content>
</ion-view>