<style type="text/css">
#taskTody .icon{ font-size: 1.2em;}
#taskTody .item-icon-left{ padding-left: 2.7em; }
.task-status{}
.task-status-doing{ color:#11c1f3!important; }
.task-status-done{ color:#33cd5f!important; text-decoration: line-through;}
</style>
<ion-view view-title="任务管理">
  <ion-content class="padding">
  	<div id="taskTody" class="card">
  		<div class="item item-divider item-icon-right">
  			本日工作任务<a  href="#/tab/task/add"><i class="icon ion-ios-plus-outline"></i></a>
  		</div>

      <div class="item list"  style="padding-right: 0px; margin-bottom: 0px;">
        <div class="item item-icon-left item-icon-right" ng-click="toggle('0')">
          <i class="icon ion-ios-bolt-outline"></i>
          拓展
          <span class="badge badge-assertive" style="margin-right: .5em;">{{ tasks0.length - sumary0.done }}</span>
          <i class="icon ion-ios-arrow-right" id="arrow0"></i>
        </div>
        <div class="item list" id="task_list_0" style="display: none;">
          <a ng-repeat=" task in tasks0" class="item item-icon-left task-status-{{ task | taskstatus}}" href="#/tab/task/{{task.id}}">
            <i class="icon {{ task | taskstatusicon}}"></i>
            {{ task | task_description }}
          </a>
        </div>

        <div class="item item-icon-left item-icon-right" ng-click="toggle('1')">
          <i class="icon ion-ios-flame-outline"></i>
          维护
          <span class="badge badge-assertive" style="margin-right: .5em;">{{ sumary1.done }}</span>
          <i class="icon ion-ios-arrow-right" id="arrow1"></i>
        </div>
        <div class="item list" id="task_list_1" style="display: none;">
          <a ng-repeat=" task in tasks1" class="item item-icon-left task-status-{{ task | taskstatus}}" href="#/tab/task/{{task.id}}">
            <i class="icon {{ task | taskstatusicon}}"></i>
            {{ task | task_description }}
          </a>
        </div>

      </div>

  		<div class="item item-divider">
  			
  		</div>
  	</div><!-- /#taskTody -->
    
  </ion-content>
</ion-view>

