<style type="text/css">
#taskTody .icon{ font-size: 1.2em;}
#taskTody .item-icon-left{ padding-left: 2.7em; }
.task-status{}
.task-status-doing{ color:#11c1f3; }
.task-status-done{ color:#33cd5f; text-decoration: line-through;}
</style>
<ion-view view-title="任务管理">
  <ion-content class="padding">
  	<div id="taskTody" class="card">
  		<div class="item item-divider item-icon-right">
  			本日工作任务<i class="icon ion-ios-arrow-down"></i>
  		</div>
  		<div class="item item-icon-left task-status-doing">
  			<i class="icon ion-ios-circle-outline"></i>0/3 维护3家
  		</div>
  		<div class="item item-icon-left task-status-doing">
  			<i class="icon ion-ios-circle-filled"></i>1/2 开拓2家
  		</div>
  		<div class="item item-icon-left task-status-done">
  			<i class="icon ion-ios-checkmark-outline"></i>2/2 遗留问题2家
  		</div>
  		<div class="item item-divider">
  			
  		</div>
  	</div><!-- /#taskTody -->
    
  </ion-content>
</ion-view>
