<style type="text/css">
.item-store{}
.item-store span{ float: right;}
.item-button{ text-align:center; border-right: 0px; border-left: 0px; }
.item-button button{ border-radius: 50%; }
.item-select select{
  padding: 0 48px 0 0px;
}
#storeSearchArea .row, .col{ padding: 0; } 
</style>
<ion-view view-title="番茄辣椒">
  <ion-content>
  	<div class="list padding" id="storeSearchArea">
      <label class="item item-input">
        <input type="text" placeholder="店名/电话" ng-model="queryCondition.leaguerName">
      </label>
      <div class="item row">
        <div class="col col-80">
          <input type＝"button" class="button button-clear" placeholder="选择区域" ng-model="queryCondition.areaName" ng-click="gotoSelect()" style="width: 100%;padding-left: 16px; text-align: left;  color: rgb(17, 17, 17); " />
        </div>
        <div class="col" style="text-align:right">
          <a class="button icon ion-ios-search button-balanced" ng-click="search()"></a>
        </div>
      </div>
  	</div>

    <div class="list" id="store_list" ></div>
    
  </ion-content>
</ion-view>

<script type="text/html" id="template_store_list_item">
<a class="item item-store" href="#/tab/store/{{id}}">
  <h2>{{leaguer_name}}<span>{{boss_phone}}</span></h2>
  <p>{{address}}</p>
</a>  
</script>
