<style type="text/css">
.item-select select{
  right: auto;
  padding: 0 48px 0 0px;
}
</style>
<ion-view view-title="番茄辣椒">

  <ion-nav-buttons side="right">
    <button id="task_detail_btn_submit" class="button button-clear button-dark" ng-click ="submit()">提交</button>  
  </ion-nav-buttons>

  <ion-content>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">门店名称</span>
        <input type="text" ng-model="task.leaguerName"> 
      </label>
      <label class="item item-input">
        <span class="input-label">老板姓名</span>
        <input type="text" ng-model="task.bossName"> 
      </label>
      <label class="item item-input">
        <span class="input-label">老板电话</span>
        <input type="text" ng-model="task.bossPhone"> 
      </label>
      <label class="item item-input item-select">
        <span class="input-label">门店区域</span>
        <select type="text" ng-model="task.areaId">
          <option value="440300001">宝安</option>
          <option value="440300002">南山</option>
          <option value="440300003">福田</option>
          <option value="440300004">龙岗</option>
          <option value="440300005">罗湖</option>
          <option value="440300006">龙华</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">门店地址</span>
        <input type="text" ng-model="task.address"> 
      </label>

      <div class="card ng-hide"  ng-hide="task.type == 0">
        <div class="item item-divider item-icon-right">
          维护记录
        </div>  
        <div class="item" style="padding: 0; ">
          <textarea name="" style="width: 100%; height: 4em;" maxlength="50" ng-model="task.record"></textarea>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider item-icon-right" ng-click="toggleQuestionList()">
          问题列表
          <i class="icon ion-ios-arrow-down" id="qustionListArrow"></i>
        </div>
        <div class="item list" id="question_list" style=" padding-right: 0px; ">
          <div class="item" ng-repeat=" question in task.questions">
            问题{{$index + 1}}:
            <textarea name="" style="width:100%; " maxlength="40" ng-model="question.question_title"></textarea>
          </div>
          <div class="item" style="text-align: center; padding: 0px; ">
            <a class="button button-icon icon ion-ios-plus positive" href="javascript:void(0)" ng-click="addQuestion()"></a>
          </div>
        </div>
      </div>


    </div>
 
  </ion-content>
</ion-view>
