<style type="text/css">
.item-store span{ float: right;}
.btn{ text-align: center; }
.btn a{ color: #ef473a!important; }

</style>
<ion-view view-title="新增">
  <ion-content>
    <div class="row">
    </div>
    
    <div class="list">
      <div class="item item-divider">任务类型</div>
      <label class="item item-radio">
        <input type="radio" name="type" value="addstore" ng-model="taskStore.type" ng-value="types.addstore" ng-change="typeChange()">
        <div class="item-content">拓展</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
       <label class="item item-radio">
        <input type="radio" name="type" value="updstore" ng-model="taskStore.type" ng-value="types.updstore" ng-change="typeChange()">
        <div class="item-content">维护</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-store for-updstore">
        <h2>{{taskStore.store.leaguer_name}}<span style="margin-left:2em;">{{taskStore.store.boss_phone}}</span></h2>
        <p>{{taskStore.store.address}}</p>
      </label>         
    </div>
    <div class="btn for-updstore">
      <a href="#/tab/task/ssearch">选择门店</a>
    </div>
    <div class="padding">
      <button class="button button-block button-balanced" ng-click="save()">
        保存
      </button>     
    </div> 
  </ion-content>
</ion-view>